block histogram
    #histogram
        .full
            .half-vert
                .center
                    canvas#hist-canvas-left
            .half-vert
                .center
                    canvas#hist-canvas-right
    script(src='js/tabs/histogram.js')