block histogram
    #histogram
        .full
            .center
                canvas#hist-canvas
                .legend
                    span#original Original
                    span#compressed Compressed
    script(src='js/tabs/histogram.js')