block one-to-one
    #one-to-one.work-zone
        .half.left-img
            .center
                canvas#left-canvas
        .half.right-img
            .center
                canvas#right-canvas
        canvas#can-abs-left.fixed.left
        canvas#can-abs-right.fixed.right
    script(src='js/tabs/one_to_one.js')